@import "./../../styles/mixins.scss";

.subscription-widget {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: repeat(1, 0.5fr);
  justify-content: center;

  @include sm {
    grid-template-columns: repeat(2, 1fr);
  }

  @include md {
    grid-template-columns: repeat(4, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(1, 1fr);
  }
}
