@import "./../styles/mixins.scss";

.post {
  --space-content: var(--space-lg);

  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "content"
    "sidebar";

  @include md {
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "header header"
      "content sidebar";
  }

  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__header {
    grid-area: header;
    margin-bottom: -7px;

    @include md {
      margin-bottom: -7px;
    }
  }

  &__subscriptions {
    display: flex;
    justify-content: center;

    .subscription-widget {
      width: 80%;
      grid-template-columns: repeat(2, 1fr);

      @include md {
        width: 200px;
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__player-wrapper {
    background-color: var(--color-dark);
    padding: var(--space-content);
  }

  &__content {
    padding: var(--space-content);
    padding-top: 0px;
    font-size: var(--text-lg);
    grid-area: content;
    background-color: var(--color-dark);
    line-height: 1.7em;

    li {
      margin-bottom: var(--space-xs);
    }
  }

  &__sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--color-dark);

    > * {
      margin-bottom: var(--space-lg);
    }
  }

  &__playlist {
    display: flex;
    justify-content: center;
  }
}
