@import "./../styles/mixins.scss";

.post {
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "social"
    "content"
    "comments"
    "bottom";

  &__header {
    grid-area: header;
    margin-bottom: -7px;
    max-width: 100%;

    @include md {
      margin-bottom: -7px;
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    padding: var(--space-content);
    padding-top: 0;

    .subscription-widget {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @include md {
        display: flex;
        flex-direction: row;
      }
    }
  }

  &__player-wrapper {
    background-color: var(--color-dark);
    padding: var(--space-content);
    padding-top: var(--space-sm);
  }

  &__content {
    padding-top: 0px;
    grid-area: content;
    background-color: var(--color-dark);
    line-height: 1.7em;
    word-break: break-all;
    hyphens: auto;

    li {
      margin-bottom: var(--space-xs);
    }
  }

  &__bottom {
    grid-area: bottom;
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: var(--color-dark);

    > * {
      margin-bottom: var(--space-lg);
    }
  }

  &__playlist {
    display: flex;
    justify-content: center;
  }

  &__comments {
    grid-area: comments;
    display: flex;
    justify-content: center;
    padding: var(--space-md);
    padding-bottom: var(--space-xl);
    a {
      background-color: var(--color-primary);
      border: 1px solid var(--color-primary);
      font-weight: var(--font-weight-bold);
      font-size: var(--text-lg);
      font-family: var(--font-family-secondary);
      padding: var(--space-sm);
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px 0;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      outline: none;
      outline: 0;
      text-align: center;
      transform: translateY(0);
      transition: transform 150ms, box-shadow 150ms;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;

      @include md {
        font-size: var(--text-xxl);
      }
    }

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0 3px 9px 0;
      transform: translateY(-2px);
    }
  }
}
