@import "./../../styles/mixins.scss";

.featured-post {
  display: grid;
  grid-template-areas: "stack";
  text-decoration: none;
  color: white;

  > * {
    grid-area: stack;
  }

  &__image {
    z-index: -1;

    &::before {
      content: "";
      z-index: 1;
      background: linear-gradient(to bottom, transparent 0%, black 80%);
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    place-self: end stretch;
    padding: var(--space-xxs);
    text-align: center;

    @include sm {
      padding: var(--space-sm);
    }
  }

  &__title {
    color: white;
    font-size: var(--text-xxl);
  }

  &__program {
    display: none;
    place-self: start end;
    padding: var(--space-sm);
    background-color: black;

    @include sm {
      display: block;
    }
  }

  &__player {
    margin: var(--space-sm) 0px;
    width: 80%;
    margin-top: var(--space-sm);
    display: none;

    @include sm {
      display: inline;
    }
  }

  &--featured {
    @include lg {
      .featured-post__title {
        font-size: calc(
          var(--text-xxxl) * var(--text-scale-ratio) * var(--text-scale-ratio)
        );
        padding: var(--space-xs);
      }
    }
  }
}
