@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600&display=swap");

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  background: url(../images/styles/bg.png);
}

h1,
h2,
h3,
h4 {
  // TODO: Move to var
  font-family: "Barlow Condensed", sans-serif;
}

// TODO: Use vars
.logo {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding-bottom: var(--space-xxs);
  font-size: 64px;

  .logo__accent {
    color: #00b473;
  }
}

// TODO: Move this to header styles
nav > a {
  text-decoration: none;
}

:root {
  //// SPACING
  --space-unit: 1em;
  --space-xxs: calc(0.25 * var(--space-unit));
  --space-xs: calc(0.5 * var(--space-unit));
  --space-sm: calc(0.75 * var(--space-unit));
  --space-md: calc(1.25 * var(--space-unit));
  --space-lg: calc(2 * var(--space-unit));
  --space-xl: calc(3.25 * var(--space-unit));
  --space-xxl: calc(5.25 * var(--space-unit));
}
