@import "./../../styles/mixins.scss";

.post-image {
  display: grid;
  grid-template-areas: "stack";
  color: white;

  > * {
    grid-area: stack;
    z-index: 200;
  }

  &__image {
    aspect-ratio: 16 / 10;
    width: 100%;

    &::before {
      content: "";
      z-index: 1;
      background: linear-gradient(
        to bottom,
        transparent 30%,
        var(--color-dark) 80%
      );
      position: absolute;
      height: 100%;
      width: 100%;
    }
  }

  &__content {
    place-self: end stretch;
    padding: var(--space-xxs);
    text-align: center;

    @include sm {
      padding: var(--space-sm);
    }
  }

  &__title {
    color: white;
    font-size: var(--text-xl);
    line-height: 1em;
    padding-bottom: var(--space-xs);
  }

  &__program {
    display: none;
    place-self: start end;
    padding: var(--space-sm);
    background-color: var(--color-dark);
    opacity: 0.9;
    font-size: var(--text-sm);
    border-radius: 0px var(--border-radius) 0px var(--border-radius);
    font-weight: var(--font-weight-regular);

    @include sm {
      display: block;
    }
  }

  &__player {
    margin: var(--space-sm) 0px;
    width: 80%;
    margin-top: var(--space-sm);
    display: none;

    @include sm {
      display: inline;
    }
  }

  &--xl {
    @include lg {
      .post-image__image {
        height: 550px;
      }

      .post-image__title {
        font-size: calc(
          var(--text-xxxl) * var(--text-scale-ratio) * var(--text-scale-ratio)
        );
        padding: var(--space-xs);
      }
    }
  }
}
