@import "./../../styles/mixins.scss";

h1 {
  color: red;
}
.header {
  display: flex;
  overflow: hidden;

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-left: var(--space-md);
    }
  }

  > a {
    text-decoration: none;
  }
}

.header--mobile {
  .logo {
    text-align: center;
  }
}

.logo {
  display: flex;
  align-items: center;

  --text-logo-size: 4em;

  font-family: var(--font-family-secondary), sans-serif;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-text);
  padding-bottom: var(--space-xxs);
  font-size: var(--text-xxxl);

  @include md {
    font-size: var(--text-logo-size);
  }

  &__accent {
    color: var(--color-primary);
  }

  --logo-size-sm: 48px;
  --logo-size-md: 64px;

  &__image {
    margin-right: var(--space-xxs);
    margin-left: var(--space-xxs);
    height: var(--logo-size-sm);
    width: var(--logo-size-sm);

    @include md {
      height: var(--logo-size-md);
      width: var(--logo-size-md);
    }
  }
}

// .logo--mobile {
//   font-size: var(--text-xxxl);
//   margin-left: var(--space-xxs);
// }
