h1 {
  color: red;
}
.header {
  display: flex;
  overflow: hidden;

  &__menu {
    list-style: none;
    display: flex;
    align-items: center;
    li {
      margin-left: var(--space-md);
    }
  }

  > a {
    text-decoration: none;
  }
}

.header--mobile {
  .logo {
    text-align: center;
  }
}

.logo {
  --text-logo-size: 4em;

  font-family: var(--font-family-secondary), sans-serif;
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  color: var(--color-text);
  padding-bottom: var(--space-xxs);
  font-size: var(--text-logo-size);

  .logo__accent {
    color: var(--color-primary);
  }
}

.header--mobile .logo {
  font-size: var(--text-xxxl);
}
